<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Health Hub</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  .logo{
  width:100px;
  height:100px;
  color:black;
  margin-top:0;
  margin-left:2;
  }
  .myimg{
  width:100px;
  height:100px;
  }
</style>



<body>


<!-- this is navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="logo">
      <img class="myimg" src="{{url_for('static', filename= 'Blue Green Simple Medical Center Logo.png')}}" alt="Health Hub Logo">
      </div>
    <a class="navbar-brand" href="#">Health Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/developer">Developer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>






  <h1 class="text-center">Health Hub</h1>
<div class="container mt-4 my-4" style="background:black;color:yellow;border-radius:15px; padding:50px;">
  <form action="/predict" method="post">
    <div class="form-group">
      <label for="symptoms">Type Symptoms</label>
<input type="text" class="form-control" name="symptoms" id="symptoms" placeholder="use symptoms like itching,vomiting,skin_rash,chills,joint_pain,ulcers_on_tongue">

    </div>
    <br>
    <button class="btn btn-danger" style="width:100%; padding:14px; margin-button:5px;"> Recommendations
    </button>
  </form>
</div>
  {% if predicted_disease %}
<h1 class="text-center mt-4 my-4">Our AI Doc Results</h1>

<div class="container">
  <div class="result-container">
    <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#diseaseModal" style="padding:20px; margin: 15px 40px 15px 0; font-size:20px; font-weight:1000; border-radius:5px; background:#F39334; color:black;">Disease</button>
    <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#descriptionModal" style="padding:20px; margin: 15px 40px 15px 0; font-size:20px; font-weight:1000; border-radius:5px; background:#FFC0CB; color:black;">Description</button>
    <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#precautionModal" style="padding:20px; margin: 15px 40px 15px 0; font-size:20px; font-weight:1000; border-radius:5px; background:#28a745; color:black;">Precaution</button>
    <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#medicationsModal" style="padding:20px; margin: 15px 40px 15px 0; font-size:20px; font-weight:1000; border-radius:5px; background:#1E90FF; color:black;">Medications</button>
    <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#workoutsModal" style="padding:20px; margin: 15px 40px 15px 0; font-size:20px; font-weight:1000; border-radius:5px; background:#800080; color:black;">Workouts</button>
    <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#dietsModal" style="padding:20px; margin: 15px 40px 15px 0; font-size:20px; font-weight:1000; border-radius:5px; background:#F39334; color:black;">Diets</button>
  </div>
</div>
{% endif %}
<!-- disease modal -->
<div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#020606; color:white;">

        <h5 class="modal-title">Predicted Disease</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color:modal-body-color:">
        <p>{{predicted_disease}}</p>
      </div>
    </div>
  </div>
</div>

<!-- description modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#020606; color:white;">

        <h5 class="modal-title">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ dis_des }}</p>
      </div>
    </div>
  </div>
</div>

<!-- precaution modal -->
<div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#020606; color:white;">

        <h5 class="modal-title">precaution</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          {% for i in dis_pre %}
        <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- medications modal -->
<div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#020606; color:white;">

        <h5 class="modal-title">Medications</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          {% for i in dis_med %}
        <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Diets modal -->
<div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#020606; color:white;">

        <h5 class="modal-title">Diets</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          {% for i in dis_diet %}
        <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Workouts modal -->
<div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#020606; color:white;">

        <h5 class="modal-title">Workouts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          {% for i in dis_wrkout %}
        <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
